<div id="container">
    <canvas id="canvasOutput"></canvas>
    <video autoplay="true" id="videoElement"></video>
</div>

<div class = 'video'>
    <img id="image">
</div>
<div class = 'video'>
    <img id="image2">
</div>
<script src="https://docs.opencv.org/master/opencv.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
<script>
    var socket = io('http://localhost:5000');

    socket.on('connect', function(){
        console.log("Connected...!", socket.connected)
    });

    const video = document.querySelector("#videoElement");

    video.width = 500; 
    video.height = 375; ;

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            video.srcObject = stream;
            video.play();
        })
        .catch(function (err0r) {
            console.log(err0r)
            console.log("Something went wrong!");
        });
    }
  function onOpenCvReady() {
            return new Promise(resolve => {
                cv['onRuntimeInitialized']=()=>{
                alert('OpenCV.js is ready.');
                resolve()
                }
            })
  }
    async function wait(){
        await onOpenCvReady()
                    // do all operations 
        let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
        let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
        let cap = new cv.VideoCapture(video);

        const FPS = 22;

        setInterval(() => {
            cap.read(src);
            console.log("read")
            var type = "image/png"
            var data = document.getElementById("canvasOutput").toDataURL(type);
            data = data.replace('data:' + type + ';base64,', ''); //split off junk 
            //at the beginning

            socket.emit('image', data);
        }, 10000/FPS);


        socket.on('response_back', function(image){
            const image_id = document.getElementById('image2');
            image_id.src = image;
             console.log("responseback")
        });

    }
    wait()

</script>